@{
    ViewBag.Title = "About";
}
<body background="~/imagenes/Imagen1.jpg">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p style="color:white">Use this area to provide additional information.</p>
</body>