@{
    ViewBag.Title = "Contact";
}
<body background="~/imagenes/bg_computacion.jpg">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address style="color:white">
        Calle B, Toribio Piantini<br />
        San Francisco de Macoris, Provincia Duarte <br />
        Republica Dominicana<br />
        <abbr title="Phone">Cel:</abbr>
        +1 (809) 907-3515
    </address>

    <address style="color:white">
        <strong>Soporte:</strong>   <a href="mailto:sigma_rpmt@hotmail.com">sigma_rpmt@hotmail.com</a><br />
        <strong>Mantenimiento:</strong> <a href="mailto:richi2700@hotmail.com">richi2700@hotmail.com</a>
    </address>
</body>