<div class="row">

    <body background="~/imagenes/header.jpg">

        <header>
            <h1 style="color:white " >VENTAS FACILES</h1>
            <h2 style="color:white ">Todo lo que buscas y mas en un solo lugar</h2>
            <hr></hr>
        </header>

        <p><a class="btn btn-default entrar" href="http://go.microsoft.com/fwlink/?LinkId=301865">ENTRAR &raquo;</a></p>

        <div class="row margen_abajo">
            <div class="col-xs-4">
                <h2 style="color:white ">Ofertas de la semana</h2>
                <p style="color:white ">Podras ver productos en venta y las mejores ofertas.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-xs-4">
                <h2 style="color:white ">Informacion de subastas</h2>
                <p style="color:white ">Mantente al tanto con la subastas mas recientes..</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </body>
</div>